<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-5 mb-5">
        <div class="card-header">
          <h3>task</h3>
          <div class="card-body">
            <input #newNote class="form-control ml-2 p-2">
            <button (click)="addNotes(newNote.value)" class="btn btn-success mt-5 mb-5">Agregar Nota</button>
            <br>
            <h4 *ngFor="let note of notes">
              --> {{note.description}} &nbsp; &nbsp; <button (click)="deleteNote(note.id)"
                class="btn btn-danger">Eliminar Nota</button>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>